.container {
  width: 100%;

  header {
    height: 154px;
    width: 100%;
    position: relative;
    background-color: var(--purple-500);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    display: flex;
    align-items: center;
    justify-content: center;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0 31px 70px 31px;

    h1 {
      margin: 29px 0 29px 0;
    }

    .list {
      width: 100%;
      max-width: 1000px;

      display: flex;
      flex-wrap: wrap;
      flex-shrink: 1;
      gap: 24px;
      justify-content: center;
    }
  }
}
